@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Application</h1>
    <p>This is application is running as a Docker Container</p>
    <p>App is running on @System.Environment.MachineName</p>
</div>
